**/node_modules
**/venv
**/.venv
**/__pycache__
**/*.pyc
frontend
build
dist
**/.git
**/*.db
**/*.db-shm
**/*.db-wal
backend/backups
backend/processed
backend/temp
backend/logs
backend/thumbnails
backend/uploads
